model_features/CUSTOM_NET-500ep_b64_MaxP_DBCrop.h5 filter=lfs diff=lfs merge=lfs -text
model_detection/ear_segmentation.onnx filter=lfs diff=lfs merge=lfs -text
model_detection/07-03-21_d2-1_b8-2_dsed_manseed_curr-bis_from40_ep50 filter=lfs diff=lfs merge=lfs -text
